@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qt2405');
  src:  url('../fonts/icomoon.eot?qt2405#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?qt2405') format('truetype'),
  url('../fonts/icomoon.woff?qt2405') format('woff'),
  url('../fonts/icomoon.svg?qt2405#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stack:before {
  content: "\e92e";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-users:before {
  content: "\e972";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-menu:before {
  content: "\e9bd";
}
